<div class="row">
<ul class="nav">
    <li class="nav-item">
        <a class="nav-link" href="/">Home</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/newstory">New Story</a>
    </li>
    <li class="nav-item">
        <a class="nav-link" href="/stories">Stories</a>
    </li>
</ul>
</div>
<hr class="m-1 py-1">