<%- include('partials/head') %>
<%- include('partials/header') %>
<main>
    <div class="row">
        <div class="col">
            <form action="/publish" method="POST">
                <div class="mb-3 form-floating">
                    <input class="form-control" type="text" name="title" id="floatingInput" placeholder="Title" required>
                    <label for="floatingInput">Story Title</label>
                </div>
                <div class="mb-3 form-floating">
                    <input class="form-control" type="text" name="author" id="floatingInput" placeholder="Author" required>
                    <label for="floatingInput">Author</label>
                </div>
                <div class="mb-3">
                    <label class="form-label">Enter Story Here:</label>
                    <textarea class="form-control" name="story" id="story" style="height: 250px" required></textarea>
                </div>
                <div class="mb-3">
                    <button type="submit" class="btn btn-primary" href="/publish">Publish</button>
                </div>
            </form>
        </div>
    </div>
</main>
<%- include('partials/footer') %>